<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781054731408-fgpld0hobm3fsomrseq2ri8ocvgdpnft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781054731408-fgpld0hobm3fsomrseq2ri8ocvgdpnft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>781054731408-adrssno0brvfi1llq8bailou7h88e6c3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBY11bzvDMjL_SIB1VTIzcfs40pMw-y7jc</string>
	<key>GCM_SENDER_ID</key>
	<string>781054731408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.GameCenterTest</string>
	<key>PROJECT_ID</key>
	<string>test-firebase-96b27</string>
	<key>STORAGE_BUCKET</key>
	<string>test-firebase-96b27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781054731408:ios:35846fd0541ee2a736e415</string>
	<key>DATABASE_URL</key>
	<string>https://test-firebase-96b27-default-rtdb.firebaseio.com</string>
</dict>
</plist>